<form class="form-horizontal" role="form" ng-submit="demo.addRow(form)">
	<div class="form-group">
		<label class="col-md-2 control-label">Hast Tc</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="hasta_Tc"
				ng-model="demo.hasta_Tc" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Hasta Adi</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="demo.hasta_Adi"
				ng-model="demo.hasta_Adi" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Hasta SoyAdi</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="hasta_SoyAdi"
				ng-model="demo.hasta_Soyadi" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">Dogum Tarihi</label>
		<div class="col-md-4">
		 <input type="date" class="form-control" ng-model="demo.dog_Tar"  md-placeholder="Enter date">
<!-- 			<input type="text" class="form-control" name="headoffice" -->
<!-- 				ng-model="demo.dog_Tar" /> -->
		</div>
	</div>
		<div class="form-group">
		<label class="col-md-2 control-label">Dogum Yeri</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="headoffice"
				ng-model="demo.dog_Yeri" />
		</div>
	</div>
	</div>
		<div class="form-group">
		<label class="col-md-2 control-label">Anne Adi</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="headoffice"
				ng-model="demo.anne_Adi" />
		</div>
	</div>
	</div>
		<div class="form-group">
		<label class="col-md-2 control-label">Baba Adi</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="headoffice"
				ng-model="demo.baba_Adi" />
		</div>
	</div>
	

	<div class="form-group">
	<label class="col-md-2 control-label" for="singleSelect"> Cinsiyet: </label>
	<div class="col-md-4">
    <select name="singleSelect" class="form-control" ng-model="demo.cinsiyet">
      <option value="Erkek">Erkek</option>
      <option value="Kadin">Kadin</option>
    </select>
    </div></div>
    
    <div class="form-group">
	<label class="col-md-2 control-label" for="singleSelect"> Medeni durum: </label>
	<div class="col-md-4">
    <select name="singleSelect" class="form-control" ng-model="demo.medeni_Durum">
      <option value="Evli">Evli</option>
      <option value="Bekar">Bekar</option>
    </select>
    </div></div>
    
    
	<div class="form-group">
		<label class="col-md-2 control-label">Uyruk</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="demo.uyruk"
				ng-model="demo.uyruk" />
		</div>
	</div>
	
	<div class="form-group">
	<label class="col-md-2 control-label" for="singleSelect"> Il: </label>
	<div class="col-md-4">
    <select name="singleSelect" class="form-control" ng-model="demo.il">
      <option value="Ýstanbul">istanbul</option>
      <option value="Ankara">Ankara</option>
    </select>
    </div></div>
    
	
    <br>
	<div class="form-group">								
		<div style="float: right;">
		<div class="col-md-4">
			<input type="submit" value="Hasta Ekle" class="btn btn-primary"/>
		</div>
		</div>
	</div>
</form>

<table ng-table="demo.tableParams" class="table" style="text-align: center;">
    <tr ng-repeat="nufus in $data">
        <td title="'Hasta Tc'"  sortable="'Hasta TC'">
            {{nufus.hasta_Tc}}</td>
                    <td title="'Hasta Adi'"  sortable="'Hasta Adi'">
            {{nufus.hasta_Adi}}</td>
             <td title="'Hasta SoyAdi'"  sortable="'Hasta SoyAdi'">
            {{nufus.hasta_Soyadi}}</td>
              <td title="'Dogum Tarih'"  sortable="'Dogum Tarih'">
            {{nufus.dog_Tar}}</td>
               <td title="'Dogum Yeri'"  sortable="'Dogum Yeri'">
            {{nufus.dog_Yeri}}</td>
              <td title="'Anne Adi'"  sortable="'Anne Adi'">
            {{nufus.anne_Adi}}</td>
              <td title="'Baba Adi'"  sortable="'Baba Adi'">
            {{nufus.baba_Adi}}</td>
                          <td title="'Medeni Durum'"  sortable="'Medeni Durum'">
            {{nufus.medeni_Durum}}</td>
                          <td title="'Cinsiyet'"  sortable="'Cinsiyet'">
            {{nufus.cinsiyet}}</td>
            <td title="'Uyruk'"  sortable="'Uyruk'">
            {{nufus.uyruk}}</td>
            <td title="'IL'"  sortable="'IL'">
            {{nufus.il}}</td>
            <td data-title="" style="text-align: center;">
           <button class="btn btn-primary" ng-click="demo.del(nufus)">sil</button>
             </td> 
    </tr>
</table>

