<form class="form-horizontal" role="form" ng-submit="demo.addRow(form)">
	<div class="form-group">
	<label class="col-md-2 control-label">Hasta</label>
	<div class="col-md-4">
	 <select name="multipleSelect" class="form-control" id="multipleSelect" ng-model="demo.nufus" >
       <option ng-repeat="nufs in demo.hastalar track by $index" value="{{nufs}}">{{nufs.hasta_Adi +" "+nufs.hasta_Soyadi}}</option>
    </select>
    </div>
    </div>
    
    <div class="form-group">
	<label class="col-md-2 control-label">Doktor</label>
	<div class="col-md-4">
	 <select name="multipleSelect" class="form-control" id="multipleSelect" ng-model="demo.doktor" >
       <option ng-repeat="doktors in demo.doktorlar track by $index" value="{{doktors}}">{{doktors.dr_Adi +" "+doktors.dr_SoyAdi}}</option>
    </select>
    </div>
    </div>
    
      <div class="form-group">
	<label class="col-md-2 control-label">Kurum</label>
	<div class="col-md-4">
	 <select name="multipleSelect" class="form-control" id="multipleSelect" ng-model="demo.kurum" >
       <option ng-repeat="kurums in demo.kurumlar track by $index" value="{{kurums}}">{{kurums.kurum_Adi}}</option>
    </select>
    </div>
    </div>
    
    <div class="form-group">
	<label class="col-md-2 control-label">Tani</label>
	<div class="col-md-4">
	 <select name="multipleSelect" class="form-control" id="multipleSelect" ng-model="demo.tani" >
       <option ng-repeat="tanis in demo.tanilar track by $index" value="{{tanis}}">{{tanis.tani_Adi}}</option>
    </select>
    </div>
    </div>
    
    <div class="form-group">
		<label class="col-md-2 control-label">ilac 1</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="tani_Adi"
				ng-model="demo.ilac1" />
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-md-2 control-label">ilac 2</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="tani_Adi"
				ng-model="demo.ilac2" />
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-md-2 control-label">ilac 3</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="tani_Adi"
				ng-model="demo.ilac3" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label">ilac 4</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="tani_Adi"
				ng-model="demo.ilac4" />
		</div>
	</div>
    
    
    <br>
	<div class="form-group">								
		<div style="float: right;">
		<div class="col-md-4">
			<input type="submit" value="Hasta Ekle" class="btn btn-primary"/>
		</div>
		</div>
	</div>
</form>

<table ng-table="demo.tableParams" class="table" style="text-align: center;">
    <tr ng-repeat="recete in $data">
        <td title="'Hasta'"  sortable="'Hasta TC'">
            {{recete.nufus.hasta_Adi +" "+recete.nufus.hasta_Soyadi}}</td>
                    <td title="'Doktor'"  sortable="'Tamkan'">
            {{recete.doktor.dr_Adi +" "+recete.doktor.dr_Soyadi}}</td>
             <td title="'Kurum'"  sortable="'Demir'">
            {{recete.kurum.kurum_Adi}}</td>
              <td title="'Tani'"  sortable="'Demir Baglama'">
            {{recete.tani.tani_Adi}}</td>
               <td title="'ilac 1'"  sortable="'Kolestrol'">
            {{recete.ilac_1}}</td>
              <td title="'ilac 2'"  sortable="'Alt'">
            {{recete.ilac_2}}</td>
              <td title="'ilac 3'"  sortable="'Ast'">
            {{recete.ilac_3}}</td>
                          <td title="'ilac 4'"  sortable="'Glikoz'">
            {{recete.ilac_4}}</td>
 
            <td data-title="" style="text-align: center;">
           <button class="btn btn-primary" ng-click="demo.del(recete)">sil</button>
             </td> 
    </tr>
</table>

